/* UTILITIES*/
* {
   box-sizing: border-box; 
}

html {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.container::after {
    clear: both;
    content: "";
    display: block;
}

.titleMark {
    color: #24BA9F;
    font-weight: 800;
    font-style: normal;
}

/* HEADER*/
.header {
    background-color: #000;
    color: white;
    padding: 10px 0;
    height: 40px;
}

.mainNav {
    float: right;
    position: relative; /* zastanowić się czy jest to potrzeben, mam pomysł,żeby zrobić mainNav relative a .subMenu absolute i ustawić je za pomocą pozycji top, left  */
    z-index: 1;
}

.mainNav > li {
    display: inline-block;
    position: relative;/* zastanowić się czy jest to potrzeben */
    z-index: 1;
}

.subMenu {
   /* display: none;*/
    background-color: #000;
    padding: 10px;
    position: relative;/* zastanowić się czy jest to potrzeben */
    z-index: 2;/* zastanowić się czy jest to potrzeben */
}

.subMenu li {
    display: block;
    position: relative;/* zastanowić się czy jest to potrzeben */
    z-index: 2;/* zastanowić się czy jest to potrzeben */
}

.logo {
    font-size: 14px;
    word-spacing: 1px;
}

/*.mainNav li:hover .subMenu{
    display: block;
}*/

/* SECTION SLIDER */
section.slider {
    height: 505px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

/*
section.slider > article {
    height: 505px;
}
*/

.arrow {
    width: 95px;
    height: 505px;
    float: left;
}

.arrowLeft {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 35px solid #0FBF99;
    border-radius: 2px;
    top: 48%;
    position: relative;
    z-index: 1;
}

.arrowLeftIn {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 25px solid #F5F5F5; 
    top: -15px;
    left: 10px;
    position: absolute;
    z-index: 2;
}

.arrowRight {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-left: 35px solid #0FBF99;
    border-radius: 2px;
    top: 48%;
    position: relative;
    z-index: 1;
    float: right;
}

.arrowRightIn {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 25px solid #F5F5F5; 
    top: -15px;
    right: 10px;
    position: absolute;
    z-index: 2;
}

.mainImage {
/*    border: 1px solid red;  USUNĄĆ PÓŹNIEJ!!!*/
    width: 320px;
    height: 505px;
    float: left;
    background-image: url(../images/black_chair.png);
    background-repeat: no-repeat;
    background-position: -137px 68px;
    background-size: 185%;
}

.information {
    width: 540px;
    height: 505px;
    float: left;
    position: relative;/* zastanowić się czy jest to potrzeben */
    z-index: 1;/* zastanowić się czy jest to potrzeben */
}

#mainTitle {
    font-size: 40px;
    margin-top: 135px;
    text-align: center;
    font-weight: 500;
    padding-left: 25px;
}

.informationText {
    font-size: 15px;
    text-align: center;
    height: 150px;
    line-height: 22px;
    padding: 27px 45px 0 65px;
}

input[type=button] {
    background-color: #24BA9F; 
    color: #FFF;
    font-size: 23px;
    word-spacing: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 328px;
    left: 154px;
    border: 1px solid #24BA9F;
    border-radius: 7px;
    width: 260px;
    height: 50px;
}

/* SECTION PICTURES*/
section.pictures {
    height: 350px;
}

section.pictures > article {
    height: 350px;
    padding: 26px 0;
}

.chairClair {
    background-image: url(../images/box1_img.jpg);
}

.chairMargarita {
    background-image: url(../images/box2_img.jpg);
}

.size {
    float: left;
    width: 330px;
    height: 225px;
    border: 1px solid #D9D9D9;
    border-radius: 1px;
    margin-right: 25px;
}

.imgTitle {
    width: 325px;
    height: 60px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
    margin-top: 150px;
    padding: 13px 0 0 12px;
}

.strip {
    font-size: 15px;
    word-spacing: 2px;
    font-weight: 600;
}

.strip::after {
    content: "";
    display: block;
    margin-top: 1px;
    width: 140px;
    height: 7px;
    background-color: #27C6AA;
}

.content {
    float: left;
    width: 340px;
    height: 255px;
    border: 1px solid #D9D9D9;
    border-radius: 1px;
    padding: 28px 26px 30px 25px;
    font-size: 14px;
}

.about {
    padding: 15px 0;
    line-height: 19px;
}

/* SECTION PRICES */
section.prices {
    height: 725px;
    background-color: #F1F1F1;
}

.articleTitle { /*popracować nad tą częścią*/
    height: 157px;
    font-size: 20px;
    padding-top: 43px;
}

.mainWord {
    font-weight: 500;
    font-size: 21px;
}

.mainWord::after {
    content: "";
    display: block;
    width: 320px;
    height: 8px;
    margin-top: 5px;
    background-color: #23BC9D;
}

.license {
    width: 330px;
    height: 500px;
    border: 2px solid #D6D6D6;
    border-radius: 2px;
    background-color: #F9F9F9;
    float: left;
    position: relative;
    z-index: 1;
}

.greenLicense {
    margin: 0 30px;
    border: 2px solid #27C7AB;
    background-color: #27C7AB;
}

.circle {
    width: 55px;
    height: 55px;
    border: 2px solid #D6D6D6;
    border-radius: 100%;
    background-color: #FFF;
    position: absolute;
    top: -36px;
    left: 138px;
    z-index: 2;
}

.greenCircle {
    border: 2px solid #27C7AB;
    background-color: #27C7AB;
}

.circleInside {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #C2C2C2;
    margin: 25%;
}

.greenCircleInside {
    background-color: #F9F9F9;
}

.priceTitle {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: #27C7AB;
    margin: 30px 0;
    text-transform: uppercase;
}

.greenPriceTitle {
    color: #FFF;
}

.voucher {
    width: 130px;
    height: 130px;
    border: 2px solid #D6D6D6;
    border-radius: 100%;
    background-color: #FFF;
    margin: 0 auto;
    text-align: center;
}

.greenVoucher {
    border: 2px solid #27C7AB;
    color: #27C7AB;
}

.priceValue {
    font-size: 45px;
    line-height: 30px;
    padding-top: 31px;
    font-weight: 700;
    color: #C2C2C2;
}

.priceValue + p {
    color: #C2C2C2;
    padding-top: 13px;
    font-weight: 600;
}

.greenPriceValue, .greenPriceValue + p {
    color: #21CBB0;
}

/* popawić się późńiej indeksem górnym*/
sup { 
    vertical-align: super;
    font-size: 15px;
    font-weight: 700;
}

.service {
    height: 180px;
    margin-top: 26px;
    margin-bottom: 25px;
    font-size: 23px;
}

.serviceList li { /*pomyśleć nad nadaniem klasy dla elementu ul*/
    height: 45px;
    line-height: 45px;
    text-align: center;
    list-style: none;
}

.serviceList li:nth-child(2n+1) {
    background-color: #E4E4E4;
    color: #939393;
}

.greenService .serviceList li:nth-child(2n+1) {
    background-color: #FFF;
}

.serviceList li:nth-child(2n+2) {
    background-color: #F1F1F1;
    color: #717171;
}

.greenService .serviceList li:nth-child(2n+2) {
    background-color: #F1F1F1;
}

input[type=submit] {
    background-color: #27C7AB; 
    color: white;
    text-transform: uppercase;
    position: absolute;
    right: 105px;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
}

input[class=greenButton] {
    background-color: #FFF;
    color: #27C7AB;
}

/* SECTION FORM */
section.form {
    height: 540px;
}

.formTitle { 
    height: 110px;
    font-size: 20px;
    padding-top: 33px;
}

.customerInformation {
    width: 690px;
    height: 380px;
    padding-top: 5px;
/*    border: 1px solid pink;*/
    float: left;
}

.send {
    width: 360px;
    height: 380px;
/*    border: 1px solid green;*/
    float: left;
}

input[type=text], input[type=email], textarea {
    width: 635px;
    height: 66px;
    margin-bottom: 25px;
    border: 1px solid #A4E1D1;
    padding: 20px 15px;
    font-size: 30px;
    font-weight: lighter; /* NIE DZIAŁA POPRAWIĆ*/
}

textarea {
    height: 190px;
}

#redChair {
    height: 185px;
    background-image: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-position: 20px -23px;
}

.agreement {
    height: 120px;
    padding-top: 34px;
}

.checkForm[type=checkbox] {
    display: none;
}

.checkForm[type=checkbox] + label {
    display: inline-block;
    width: 47px;
    height: 49px;
    border: 1px solid rgba(36, 186, 159, 0.3);
    cursor: pointer;
    margin-left: 2px;
}

.checkForm[type=checkbox]:checked + label {
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.agreement span {
    display: block;
    margin-left: 62px;
    color: #a6a6a6;
    font-size: 20px;
    width: 290px;
}

.mainButton {
    height: 140px;
    position: relative;
}

.mainButton input[type=submit] {
    background-color: #24BA9F;
    color: #FFF;
    font-size: 35px;
    width: 342px;
    height: 70px;
    text-align: center;
    position: absolute;
    left: 0;
} 

/* FOOTER */
footer {
    height: 110px;
}

.copyright {
    font-size: 15px;
    color: #959595;
    line-height: 110px;
    width: 690px;
    float: left;
}

.media {
    width: 360px;
    line-height: 110px;
    float: left;
}